<div class="background"></div>
<div class="loginSection">
    <div class="input-section">
        <mat-form-field class="example-full-width login-section">
            <mat-label>Login</mat-label>
            <input type="text" matInput [(ngModel)]="user.Login" [formControl]="LoginMatcher" [errorStateMatcher]="matcher" placeholder="Example: CoolHacker">
             <mat-error *ngIf="LoginMatcher.hasError('login') && !LoginMatcher.hasError('required')">
                Please enter a valid login
              </mat-error>
              <mat-error *ngIf="LoginMatcher.hasError('required')">
                Login is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width password-section">
            <mat-label>Password</mat-label>
            <input type="password" matInput [(ngModel)]="user.Password" [formControl]="PasswordMatcher" [errorStateMatcher]="matcher" placeholder="Example: CoolPassword">
            <mat-error *ngIf="PasswordMatcher.hasError('password') && !PasswordMatcher.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="PasswordMatcher.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <button (click)="authentication()" class="button-section" mat-raised-button color="primary">Log In</button>
    </div>
</div>