.background {
    background: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-933054.jpg&fm=jpg');
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 193.9vh;
    height: 100vh;
}

.input-section {
    margin-left: 30%;
    margin-top: 12%;
    padding: 2%;
    border-radius: 20px;
    width: 25%;
    height: 35%;
    background-color: white;
    position: absolute;
}

.login-section {
    display: block;
}

.password-section {
    display: block;
}

.button-section {
    margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  width: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}