<h1 class="info-header">Short URL info</h1>
<p class="info-paragraph">
    URL ID in database: {{obj.infoModel.urLid}}<br>
    Original URL: {{(obj.infoModel.longURL.length > 50) 
        ? obj.infoModel.longURL.slice(50, obj.infoModel.longURL.length) + "..." 
        : obj.infoModel.longURL}}<br>
    Shorten URL: 
    <a href="{{obj.infoModel.longURL}}">
        {{obj.infoModel.shortURL}}
    </a>
    <br>
    (Creation date) {{dateCount()}}<br>
    User creator ID: {{obj.infoModel.userId}}<br>
    User creator Login: {{obj.infoModel.userLogin}}<br>
    User creator Password: {{obj.infoModel.userPassword}}<br>
</p>