.demo-table {
    width: 100%;
    margin-top: 2%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .url-configure-section
  {
    padding: 2%;
  }

  .add-button
  {
    width: 5%;
    border-radius: 20px;
  }

  .add-input
  {
    padding: 3%;
    width: 65vh;
  }

  .section-element
  {
    display: inline-block;
  }